.single-card-3 {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	background: #0a0442;
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
}
.img-area-3 {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.img-area-3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}
.img-area-3 img:hover {
	transform: scale(1.1);
}

.info-3 {
	padding: 10px;
	text-align: center;
	color: #ffffff;
}
.info-3 h3 {
	margin: 15px 0 10px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
